/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #dedede;
 }

main {
   display: flex;
   flex-direction: row;
  }
  
.navigation {
   position: fixed;
   height: 100%;
   top : 0;
   left : 0;
   padding-left: 15%;
   background-color: #ffff;
   display: flex;
   flex-direction: column;
   list-style: none;
  }
 
 .icon {
   width: 50px;
   height: 50px; 
   display: box;
   padding-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
 }
 
 #page-content {
   margin-left: 20%;
   display: flex;
   flex-flow: column;
   width: 100%
 }

 .tweet, .new-tweet {
  flex: 1 1 auto;
  background-color: #ffff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(183, 183, 183, 0.598);
 }

 .tweet__body, .retweet__body {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(183, 183, 183, 0.598);
  border-radius: 5px;
  margin-top: 1rem;
 }

 .icon {
  height: 24px;
  width: 24px;
  padding-right: 0px;
 }

 .icon__set {
  display: flex;
 }

 .tweet__icons {
  display: flex;
  justify-content: space-around;
 }

 .modal {
    position: fixed;
    top: 2;
    right: 2;
    left:2;
    bottom: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    overflow-y: scroll;
    overflow-x: visible;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    
 }

 .modal__inner {
    background-color: #ffff;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
 }

 .modal__header {
  display: flex;
  justify-content:space-between;
 }
 
 button {
  height: 3rem;
 }